.custom-button{
  border-color: none !important; /* 원하는 border 색상으로 변경 */
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
}
#fill-tab-example-tab-home{
  background-color: whitesmoke;
  border-radius: 0;
  border-style: none;
}
.no-hover-animation {
  /* 원하는 스타일 */
  transition: none !important;
}